@import 'bootstrap/scss/_variables';

cs-date-picker-nav {
  margin-bottom: 0.25em;
}

.control-buttons {
  position: absolute;
  bottom: 0.2em;
  right: 0.2em;
  white-space: nowrap;
}

a.year-selector {
  vertical-align: top;
}

.picker-content > :not(cs-date-picker-nav){
  width: 17em;
  height: 11.25em;
}

.date-display {
  padding-left: 0.25em;
  width: 10em;
}
