@import 'bootstrap/scss/_variables';

:host {
  display: flex;
  flex-direction: row;
  contain: content;

  //TODO: remove
  width: 18em;
  height: 12.5em;
}

#month-list {
  flex: 1;
}

#month-list, #controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#controls {
  padding: 0.5em;
  align-items: flex-start;

  .control-separator {
    flex: 1;
  }
}

.month-select {
  padding-left: 0.25em;
  padding-right: 0.25em;
  display: flex;

  &:hover {
    background-color: $gray-lighter;
  }

  &.selected {
    background-color: $brand-primary;
    color: white;
    font-weight: bold;
  }

  > .month {
    flex: 4;
    text-align: left;

    min-width: 7em;
  }

  > .year {
    flext: 2;
    text-align: center;
  }
}

.icon-stack {
  display: flex;
  flex-direction: column;
  height: 17px;

  > cs-icon + cs-icon {
    transform: translate(0, -90%);
  }

  > cs-icon:first-child {
    transform: translate(0, -15%);
  }
}




