@import 'bootstrap/scss/_variables';

:host {
  display: block;
}

td, th {
  margin: 0.1rem;
  width: 2.5em;
  height: 1.5em;
  text-align: center;
  vertical-align: middle;
  user-select: none;
}

td {
  cursor: default;

  &.selected {
    background-color: $brand-primary;
    color: $btn-primary-color;
  }

  &:hover:not(.selected) {
    background-color: $gray-lighter;
  }

  &:not(.in-display-month) {
    opacity: 0.4;
  }
}
