@import 'bootstrap/scss/_variables';

:host {
  contain: content;
  display: flex;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.display-month-container {
  flex: 1;
  display: flex;
  justify-content: center;
}



cs-icon {
  &:hover {
    color: $brand-primary;
  }
}


